**Intermediate Assignment 1: Importing and Joining Data**

*Part 1: Food Environment Atlas*

In [69]:
# Import packages
import pandas as pd
import requests

In [70]:
# Import Food Environment Atlas, get list of sheets to create dataset
path = r'C:\Users\JohnTaylor\DSTP_Assignments\Assignment1\Data\Food Environment Atlas - Copy.xlsx'
excel = pd.ExcelFile(path)
print(excel.sheet_names)
targets = ['ACCESS', 'STORES', 'RESTAURANTS', 'ASSISTANCE', 'INSECURITY', 'TAXES', 'LOCAL', 'HEALTH', 'SOCIOECONOMIC']

['Read_Me', ' Variable List', 'Supplemental Data-County', 'Supplemental Data - State', 'ACCESS', 'STORES', 'RESTAURANTS', 'ASSISTANCE', 'INSECURITY', 'TAXES', 'LOCAL', 'HEALTH', 'SOCIOECONOMIC']

Prepping FIPS Codes for Merge

In [71]:
# Convert sheets to dataframes and check FIPS columns
df_dict = {}
print('Checking columns...')
for sheet in targets:
    df_dict[sheet] = excel.parse(sheet)
    # check if there is a 'FIPS' column and the data type
    if 'FIPS' in df_dict[sheet].columns:
        print('{} has a "FIPS" column with {} rows and the data type is {}'.format(sheet, len(df_dict[sheet]), df_dict[sheet]['FIPS'].dtypes))
    else:
        print('{} does not have a "FIPS" column'.format(sheet))

# check for NA values in FIPS columns
print('Checking values...')
for sheet in df_dict:
    check = df_dict[sheet]['FIPS'].isnull().any()
    if check:
        print('{} contains 1 or more null values in the FIPS column'.format(sheet))
        print(df_dict["LOCAL"]['FIPS'].isnull())

Checking columns...
ACCESS has a "FIPS" column with 3143 rows and the data type is int64
STORES has a "FIPS" column with 3143 rows and the data type is int64
RESTAURANTS has a "FIPS" column with 3143 rows and the data type is int64
ASSISTANCE has a "FIPS" column with 3143 rows and the data type is int64
INSECURITY has a "FIPS" column with 3143 rows and the data type is int64
TAXES has a "FIPS" column with 3143 rows and the data type is int64
LOCAL has a "FIPS" column with 3144 rows and the data type is float64
HEALTH has a "FIPS" column with 3143 rows and the data type is int64
SOCIOECONOMIC has a "FIPS" column with 3143 rows and the data type is int64
Checking values...
LOCAL contains 1 or more null values in the FIPS column
0       False
1       False
2       False
3       False
4       False
        ...
3139    False
3140    False
3141    False
3142    False
3143     True
Name: FIPS, Length: 3144, dtype: bool

In [72]:
# Read row 3144 and surroundings of LOCAL dataframe
df_dict['LOCAL'].iloc[-15:, :]

         FIPS State  ... FARM_TO_SCHOOL13  FARM_TO_SCHOOL15
3129  56019.0    WY  ...         0.000000               0.0
3130  56021.0    WY  ...         1.000000               0.0
3131  56023.0    WY  ...         1.000000               0.0
3132  56025.0    WY  ...         0.000000               0.0
3133  56027.0    WY  ...         0.000000               0.0
3134  56029.0    WY  ...         0.000000               0.0
3135  56031.0    WY  ...         1.000000               0.0
3136  56033.0    WY  ...         0.000000               0.0
3137  56035.0    WY  ...         0.000000               0.0
3138  56037.0    WY  ...         0.000000               0.0
3139  56039.0    WY  ...         0.000000               0.0
3140  56041.0    WY  ...         0.000000               0.0
3141  56043.0    WY  ...         0.000000               0.0
3142  56045.0    WY  ...         0.000000               0.0
3143      NaN   NaN  ...         0.618399               NaN

[15 rows x 100 columns]

In [73]:
# Remove null row from LOCAL
df_dict['LOCAL'] = df_dict['LOCAL'].iloc[0:-1, :].copy() 
df_dict['LOCAL'].iloc[-15:, :]
print(df_dict['LOCAL']['FIPS'].isnull().any())

# Convert LOCAL['FIPS'] to int
df_dict['LOCAL']['FIPS'] = df_dict['LOCAL']['FIPS'].astype('int')
df_dict['LOCAL']['FIPS'].dtypes

False

dtype('int32')

In [74]:
# Check if FIPS columns match between dataframes
example_df = df_dict['ACCESS']
fips_list = list(example_df['FIPS'].unique())

for sheet in df_dict:
    print('{} : {}'.format(sheet, fips_list==list(df_dict[sheet]['FIPS'].unique())))

ACCESS : True
STORES : True
RESTAURANTS : True
ASSISTANCE : True
INSECURITY : True
TAXES : True
LOCAL : True
HEALTH : True
SOCIOECONOMIC : True

Merge dataframes together into EnvironmentAll

In [75]:
EnvironmentAll = df_dict[targets[0]]

# Add additional sheets
for sheet in targets[1:]:
    df_to_merge = df_dict[sheet].drop(columns=['State', 'County'])
    EnvironmentAll = EnvironmentAll.merge(df_to_merge, on='FIPS')

EnvironmentAll.head()

   FIPS State   County  ...  PERCHLDPOV10  METRO13  POPLOSS10
0  1001    AL  Autauga  ...             0        1        0.0
1  1003    AL  Baldwin  ...             0        1        0.0
2  1005    AL  Barbour  ...             1        0        0.0
3  1007    AL     Bibb  ...             1        1        0.0
4  1009    AL   Blount  ...             0        1        0.0

[5 rows x 284 columns]

*Part 2: Query Census API*

In [76]:
# Get Census data: county population in 2020
url = 'https://api.census.gov/data/2020/dec/pl?get=P1_001N&for=county:*'
json = requests.get(url).json()

# explore data
print(json[0])

['P1_001N', 'state', 'county']

In [77]:
# Create Census2020Pop dataframe
Census2020Pop = pd.DataFrame(columns = json[0], data = json[1:])
Census2020Pop.head()

  P1_001N state county
0   58805    01    001
1  231767    01    003
2   25223    01    005
3   22293    01    007
4   59134    01    009

In [78]:
# Create FIPS column to match EnvironmentAll
Census2020Pop['state'] = Census2020Pop['state'].str.lstrip('0') #strip leading 0 from state code
Census2020Pop['FIPS'] = Census2020Pop['state'] + Census2020Pop['county'] #concatenate state and county codes into single number
Census2020Pop['FIPS'] = Census2020Pop['FIPS'].astype(int) #change datatype to match EnvironmentAll['FIPS']
Census2020Pop.head()

  P1_001N state county  FIPS
0   58805     1    001  1001
1  231767     1    003  1003
2   25223     1    005  1005
3   22293     1    007  1007
4   59134     1    009  1009

*Part 3: Combine Datasets*

In [79]:
data = pd.merge(EnvironmentAll, Census2020Pop[['FIPS','P1_001N']], on='FIPS', how='left')

In [80]:
print(data.head())
len(data.columns)

   FIPS State   County  ...  METRO13  POPLOSS10  P1_001N
0  1001    AL  Autauga  ...        1        0.0    58805
1  1003    AL  Baldwin  ...        1        0.0   231767
2  1005    AL  Barbour  ...        0        0.0    25223
3  1007    AL     Bibb  ...        1        0.0    22293
4  1009    AL   Blount  ...        1        0.0    59134

[5 rows x 285 columns]

285